# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
SPOTIFY_CLIENT_ID=8644eb3ace4a4c8f84736376c30ad6e7
SPOTIFY_CLIENT_SECRET=42c7ec4b689141dfaa13b9be5a610ad9
SPOTIFY_REDIRECT_URI=http://localhost:5173/calback
AUTH_COOKIE_SECRET=483f5d018a9d4e91f530d4d734b7ad117527883b985f0169de0514694197a41e
CLOUDINARY_CLOUD_NAME=dizqgphco
CLOUDINARY_API_KEY=863676728676745
CLOUDINARY_API_SECRET=ljLTczRI5GshsJlNVtu1a48sDd8